use flake-lsp

# nix-proxy SSL workaround
export CURL_CA_BUNDLE=/var/lib/nix-proxy/certs/mitmproxy-ca-cert.pem
export SSL_CERT_FILE=/var/lib/nix-proxy/certs/mitmproxy-ca-cert.pem
export http_proxy=http://127.0.0.1:8080
export https_proxy=http://127.0.0.1:8080
